<!DOCTYPE html>
<html lang="en">

{% import 'components.html' as components with context %}

<head>
    {{ components.header("Cornell Lifted - About this Website") }}
</head>

<body class="faq-page">
    <!-- Sticky Navigation Bar -->
    {{ components.sticky_navbar() }}

    <div class="container m-2">
        <h3>About this Website</h3>

        <h5>Changelog</h5>
        <p>
            <b>Version 3.2.3 (6/4/25)</b>
            <ul>
                <li>Lifted Popped!</li>
            </ul>
        </p>
        <p>
            <b>Version 3.2.2 (5/7/25)</b>
            <ul>
                <li>Hidden card override functionality</li>
            </ul>
        </p>
        <p>
            <b>Version 3.2.1 (5/3/25)</b>
            <ul>
                <li>Card PDF caching for quicker retrievals of card PDFs</li>
                <li>Minor bug fixes and improvements</li>
            </ul>
        </p>
        <p>
            <b>Version 3.2 (4/27/25)</b>
            <ul>
                <li>Added support for different card templates per card attachment (both on single and bulk message PPTX/PDF export)</li>
                <li>Display recipient attachment selection on card modal</li>
                <li>Minor bug fixes and improvements</li>
            </ul>
        </p>
        <p>
            <b>Version 3.1.3 (4/25/25)</b>
            <ul>
                <li>Made swapping messages more clear (new FAQ, notice on sent messages)</li>
                <li>Attachment selection improvements and bug fixes</li>
            </ul>
        </p>
        <p>
            <b>Version 3.1.2 (4/21/25)</b>
            <ul>
                <li>Minor content-related changes</li>
            </ul>
        </p>
        <p>
            <b>Version 3.1.1 (4/18/25)</b>
            <ul>
                <li>Minor changes</li>
            </ul>
        </p>
        <p>
            <b>Version 3.1 (4/17/25)</b>
            <ul>
                <li>Temporary workaround for OIDC auth refresh token issue</li>
            </ul>
        </p>

        <p>
            <b>Version 3.0.1 (4/15/25)</b>
            <ul>
                <li>Minor UI improvements</li>
                <li>Logging and Recently Deleted</li>
            </ul>
        </p>

        <p>
            <b>Version 3.0 (4/14/25)</b>
            <ul>
                <li>Completely redesigned the web app!</li>
                <li>Attachment choosing functionality</li>
            </ul>
        </p>

        <p>
            <b>Version 2.0 (1/14/25)</b>
            <ul>
                <li>Completely re-worked the entire web app, switching to OIDC Auth, LDAP people search, new SQLite DB, automated emails via Outlook, and more</li>
                <li>Web app allows sending messages, viewing messages, editing/deleting messages, swapping messages, and much more</li>
                <li>Admin dashboard with Lifted config settings, form/email rich text editor, automated card PDF conversions via PPTX, viewing/managing messages, viewing aux tables, and more</li>
            </ul>
        </p>

        <p>
            <b>Version 1.0 (12/9/24)</b>
            <ul>
                <li>Initial web app with the ability to view most existing Lifted cards</li>
                <li>Cornell NetID SAML2 Authentication</li>
            </ul>
        </p>

        <p>
            <b>Version 0 (2016-2024)</b>
            <ul>
                <li>Static Website with various minor edits over the years</li>
            </ul>
        </p>

        <p>Special thanks to Cornell IT for working with us on implementing NetID authentication and LDAP querying!</p>

        <p>~ RF, NS, VW</p>
    </div>

    <!-- Footer -->
    {{ components.footer() }}

    <script src="/static/scripts/scripts.js"></script>
    <script src="/static/scripts/themes.js"></script>
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>