<!DOCTYPE html>
<html lang="en">
    {% import 'components.html' as components with context %}

<head>
    {{ components.header("View Lifted Message") }}
</head>

<body class="container-fluid">
    <main>
        {{ components.navbar() }}
        <h3 class="mt-3">Your {% if current_user.email == card["recipient_email"] %}Received {% else %}Sent{% endif %}
            Lifted Message</h3>

        {% if message_confirmation %}
        <p>Your Lifted message was submitted successfully!</p>
        <p>Your recipient was just notified that they've been Lifted, but who Lifted them is a secret - they won't know it's you until the last day of classes!</p>
        <p>Feel free to Lift some more inspirational people in your life!
            {% if "e" in lifted_config.form_message_group %}
            There's no cap on the number of messages you can submit!
            {% else %} 
            While there's no cap on the number of messages you can submit, if you are planning to Lift a large number of people, we kindly ask that you submit those messages during the electronic version of Lifted, which will open immediately after the date this form closes, as there is a limited number of physical cards we can print.  The electronic cards will still be delivered to your recipients on the last day of classes, and they can print them out like a normal card!
            {% endif %}
        </p>
        <p>Finally, to stay up-to-date with any last-minute reminders or changes, and to help Lift us, follow <a href="https://www.instagram.com/cornelllifted">@cornelllifted</a> on Instagram!</p>
        
        <div class="text-center">
            <a href="/send-message" type="button" class="btn btn-primary">Send Another {% if "e" in lifted_config.form_message_group %}e{% endif %}Lifted Message</a>
        </div>
        {% endif %}

        <div class="d-flex">
            
            <div class="flex-grow-1">
                {% if message_confirmation != "true" %}
                <button type="button" class="btn btn-primary" onclick="window.close()">Go Back</button>
                {% endif %}
            </div>
            
            {% if current_user.email == card["sender_email"] and card["message_group"] == lifted_config["form_message_group"] %}
            <div class="p-2">
                <a href="/edit-message/{{ card['id'] }}">✍️ Edit</a>
            </div>
            <div class="p-2">
                <a href="/delete-message/{{ card['id'] }}">🗑️ Delete</a>
            </div>
            {% endif %}
          </div>

        

        <div class="lifted-card p-2 my-2">
            <h5 class="text-center">{{ card["recipient_email"].split("@")[0] }}</h5>
            <p><b>To:</b> {{ card["recipient_name"] }}</p>
            <p style="white-space: pre-line">{{ card["message_content"] }}</p>
            <p><b>From:</b> {{ card["sender_name"] }}</p>
        </div>

        {% if current_user.email == card["sender_email"] %}
        <p>Message written {{ card["created_timestamp"] }}</p>
        {% endif %}

        <hr>
        {% if card["message_group"] not in lifted_config.hidden_cards %}
        <h5>Want to print your card?</h5>
        <p>If you'd like to print your card, we suggest either printing with 100% size on normal paper and
            cutting it
            out, or inserting a properly sized card into your printer!</p>
            <a href="/get-card-pdf/{{ card['id'] }}" class="btn btn-primary mb-2" target="_blank">Download PDF</a>
            <p class="mb-0">Card Sizes:</p>
            <ul>
                <li><b>Fall 2024:</b> 4 x 6 in</li>
                <li><b>Spring 2024:</b> 5 x 7 in</li>
                <li><b>Spring 2022, 2023:</b> 4.25 x 5.5 in</li>
                <li><b>Spring 2018, 2019, 2020, 2021:</b> Widescreen 16:9</li>
            </ul>
        {% endif %}

        <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading">Something missing or seem wrong?</h5>
            <p class="mb-0">Send us an email at <a href="mailto:lifted@cornell.edu">lifted@cornell.edu</a> and we'll take a look!
            </p>
        </div>
    </main>

    <footer>
        {{ components.footer() }}
    </footer>
</body>

<script src="/static/scripts/scripts.js"></script>
<script src="/static/scripts/bootstrap.bundle.min.js"></script>

</html>