<!DOCTYPE html>
<html lang="en">

{% import 'components.html' as components with context %}

<head>
    {{ components.header("Cornell Lifted - FAQs") }}
</head>

<body class="container-fluid">
    <main>
        {{ components.navbar() }}

        

        <h3 class="mt-3">Lifted FAQs</h3>

        {% for type, content in helpers.faqs.items() %}
        <h5 class="mt-3">{{type}}</h5>

        {{ components.accordion("faq_" + type | replace(" ", "_"), content) }}

        {% endfor %}

        
    </main>

    <footer>
        {{ components.footer() }}
    </footer>
</body>

<script src="/static/scripts/scripts.js"></script>
<script src="/static/scripts/bootstrap.bundle.min.js"></script>

</html>