<!DOCTYPE html>
<html lang="en">

{% import 'components.html' as components with context %}

<head>
    {{ components.header("Cornell Lifted") }}
</head>

<body class="container-fluid">
    <main>
        {{ components.navbar() }}

        <div class="row mt-3 align-items-center">
            <div class="col-sm text-center">
                <h2 class="blue-text">Lift some spirits,</h2>
                <h2 class="mt-sm-4 pink-text">spread some love.</h2>
            </div>

            <div class="col-sm">
                <p class="blue-text">
                    Get ready to lift the spirits of your favorite friends, faculty, and staff at Cornell as we come
                    together for our end-of-semester Lifted tradition! It's time to express gratitude, spread
                    positivity, and
                    watch Cornell transform into a vibrant landscape of heartfelt messages.
                </p>

                <p class="blue-text">
                    On the last day of classes, each personalized message will be printed and displayed amongst
                    thousands of messages. In the Spring, cards will be attached to a cheerful balloon or flower on the
                    Arts Quad, and in the Fall, cards will be hung from dazzling lights in Willard Straight Hall.
                    This uplifting event is a beautiful reminder of the
                    connections we've made, the support we've received, and the unforgettable moments we've shared
                    each semester 🎈🌸✨
                </p>

            </div>
        </div>

        <div class="row mt-3 align-items-center">

            <div class="col-sm order-sm-last text-center">
                <h2 class="blue-text">Uplifting Cornellians</h2>
                <h5 class="mt-sm-3 mb-4 pink-text">Since 2018:</h5>

                <div class="row">
                    <div class="col">
                        <h5 class="blue-text">{{ "{:,}".format(stats["unique_sent"]) }}</h5>
                        <p class="blue-text">Unique Senders</p>
                    </div>
                    <div class="col">
                        <h5 class="blue-text">{{ "{:,}".format(stats["unique_received"]) }}</h5>
                        <p class="blue-text">Unique Recipients</p>
                    </div>
                    <div class="col">
                        <h5 class="blue-text">{{ "{:,}".format(stats["total_received"]) }}</h5>
                        <p class="blue-text">Cards Written</p>
                    </div>
                </div>
            </div>

            <div class="col-sm order-sm-first text-center">
                <a class="btn btn-primary m-1 disabled" href="/send-message">Send a Lifted Message</a>
                <a class="d-block text-danger text-decoration-underline m-1" href="/messages">View My Messages</a>
                <p>The Lifted submission form is now closed.  Keep in eye out in April 2025 for this semester's Lifted event!</p>
            </div>
        </div>

        <div class="row mt-3 align-items-center">
            <div class="col-sm text-center">
                <h4 class="blue-text">Fall</h4>
                {{ components.img_carousel("fall_carousel", carousel["fall"], "static/images/home_fall") }}
            </div>

            <div class="col-sm text-center">
                <h4 class="mt-3 mt-sm-0 pink-text">Spring</h4>
                {{ components.img_carousel("spring_carousel", carousel["spring"], "static/images/home_spring") }}
            </div>

        </div>

        <div class="row mt-3 align-items-center">

            <div class="col-sm order-sm-last text-center">
                <h2 class="blue-text">Example Messages</h2>
                <h6 class="mt-sm-4 pink-text">Send a message to anyone with a NetID</h6>
            </div>

            <div class="col-sm order-sm-first">

                <div class="accordion" id="accordionExample">
                    {% for type, content in helpers.example_messages.items() %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{loop.index0}}" aria-expanded="true"
                                aria-controls="collapse{{loop.index0}}">
                                {{type}}
                            </button>
                        </h2>
                        <div id="collapse{{loop.index0}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><b>To:</b> {{content["to"] | safe}}</p>
                                <p>{{content["message"] | safe}}</p>
                                <p><b>From:</b> {{content["from"] | safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </main>

    <footer>
        {{ components.footer() }}
    </footer>
</body>

<script src="/static/scripts/scripts.js"></script>
<script src="/static/scripts/bootstrap.bundle.min.js"></script>

</html>